doctype html
html
  head
    title= title
    script(src="/bower_components/webcomponentsjs/webcomponents-lite.min.js")
    link(rel="import", href="/bower_components/google-youtube/google-youtube.html")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-1.11.1.js")
    script var socket = io();
  body
    block content
